
/* ------------------------------------ scroll to top button ------------------------------------ */

.scroll-button {
	display: none;

	position: fixed;
	right: 10px;
	bottom: 20px;

	font-family: 'Inter-SemiBold';

	z-index: 2;

	color: var(--color-foreground);
	background-color: var(--color-accent-1);
	box-shadow: 0 0 10px 1px var(--color-primary);
}

@media screen and (min-width: 769px) {
	.scroll-button {
		width: 100px;
		height: 50px;
		border-radius: var(--border-radius);
	}

	.scroll-button::before {
		content: 'To the top';
		font-size: 17px;
	}
}

.scroll-button:hover {
	background-color: var(--color-primary);
}

.display-block {
	display: block;
}

/* ------------------------------------ toast ------------------------------------ */

.toast {
	display: none;

	align-items: center;
	justify-content: center;

	position: fixed;
	bottom: 20px;
	margin: auto;

	border-radius: var(--border-radius);

	z-index: 2;

	color: var(--color-foreground);
	background-color: rgb(0, 146, 104);
}

@media screen and (min-width: 481px) {
	.toast {
		height: 50px;
		padding: 0 20px;
	}
}


/* ------------------------------------ register button ------------------------------------ */

.register-button {
	border-radius: var(--border-radius);
	font-family: 'Inter-SemiBold';
}

@media screen and (min-width: 1101px) {
	.register-button {
		font-size: var(--font-size-desktop-base);
		padding: 0.8rem 1.5rem;
	}
}

/* filled */

.register-button--filled {
	background-color: var(--color-accent-2);
	color: var(--color-primary);
}

.register-button--filled:hover {
	background-color: var(--color-accent-1);
	color: var(--color-foreground);
}

.register-button--filled:active {
	background-color: var(--color-secondary);
	color: var(--color-foreground);
}

/* border */

.register-button--border {
	background-color: none;
	color: var(--color-foreground);
	border: solid 2px var(--color-accent-2);
}

.register-button--border:hover {
	background-color: var(--color-accent-2);
	color: var(--color-primary);
}

.register-button--border:active {
	background-color: var(--color-secondary);
	color: var(--color-foreground);
	border: none;
}

/* ------------------------------------ accordion ------------------------------------ */

.accordion {
	overflow: hidden;
	width: 100%;

	border: solid 2px var(--color-accent-2);
	border-radius: var(--border-radius);

	background-color: var(--color-primary);
	
}

.accordion__button {
	display: flex;
	align-items: center;
	gap: 0.5rem;

	width: 100%;

	color: var(--color-foreground);
}

@media screen and (min-width: 1101px) {
	.accordion__button {
		font-size: var(--font-size-desktop-h4);
	}
}

@media screen and (min-width: 769px) {
	.accordion__button::before {
		width: 2.5rem;
		height: 2.5rem;
	}
}

@media screen and (min-width: 481px) {
	.accordion__button {
		padding: var(--spacing-x-small);
	}
}

.accordion__button::before {
	content: '';
	display: inline-block;
	background: url(../assets/images/arrow.png) no-repeat bottom;
	background-size: contain;
	margin-left: 1rem;
	margin-right: 1rem;
}

.accordion--expanded .accordion__button::before {
	transform: rotate(180deg);
}

.accordion__content {
	display: none;
	padding: var(--spacing-small);
}

@media screen and (min-width: 1101px) {
	.accordion__content {
		font-size: var(--font-size-desktop-base);
	}
}

.accordion__button:hover {
	background-color: var(--color-secondary);
}

.accordion--expanded .accordion__content {
	display: block;
}

/* ------------------------------------ filter button ------------------------------------ */

.filter-button {
	text-align: center;
	color: white;
	border: solid 2px var(--color-accent-2);
	border-radius: var(--border-radius-max);
	padding: var(--spacing-x-small);
	font-family: 'Inter-SemiBold';
}

.filter-button--hover {
	border-color: var(--color-accent-1);
}

.filter-button--chosen {
	border-color: var(--color-accent-1);
	background-color: var(--color-accent-1);
}

/* ------------------------------------ radio button ------------------------------------ */

.radiobutton {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: var(--spacing-x-small);
}

.radiobutton__button {
	display: flex;
	align-items: center;
	justify-content: center;

	border: solid 3px var(--color-accent-2);
	border-radius: var(--border-radius-max);
}

@media screen and (min-width: 481px) {
	.radiobutton__button {
		width: 35px;
		height: 35px;
	}
}

.radiobutton__button__dot {
	display: none;

	width: 70%;
	height: 70%;

	border-radius: var(--border-radius-max);

	background-color: var(--color-accent-2);
}

.radiobutton__button--chosen .radiobutton__button__dot {
	display: block;
}

.radiobutton__button--hover {
	cursor: pointer;
	border-color: var(--color-accent-1);
}
