/* ------------------------------------ register button filled ------------------------------------ */

.register-button {
	width: 220px;
	height: 55px;
	border-radius: var(--border-radius);
}

.register-button--filled {
	
	background-color: var(--color-accent-2);

}

.register-button--filled:hover {
	background-color: var(--color-accent-1);
	color: var(--color-foreground);
}

.register-button--filled:active {
	background-color: var(--color-secondary);
	color: var(--color-foreground);
}

/* ------------------------------------ ------------------------------------ */