body {
	background-image: linear-gradient(var(--color-primary), var(--color-secondary), var(--color-accent-1));
	color: var(--color-foreground);
}

/* ------------------------------------ nav ------------------------------------ */
nav {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;

	width: 100%;
	height: 90px;
	padding-left: var(--spacing-larger);
	padding-right: var(--spacing-larger);

	background-color: var(--color-primary);
}

.logo span {
	font-family: 'Inter-Bold';
	font-size: var(--font-size-desktop-h3);
}

.logo--blue {
	color: var(--color-accent-2);
}

.nav-elements {
	display: flex;
	justify-content: space-between;
	
	width: 40%;
}

.nav-element {
	font-family: 'Inter-SemiBold';
	font-size: var(--font-size-desktop-base);
}