
body {
	position: relative;
	background-image: linear-gradient(#2f0055, #510086, #C600B7);
	background-attachment: fixed;
	background-repeat: no-repeat;	
	color: var(--color-foreground);
}

.flex-center {
	display: flex;
	align-items: center;
	justify-content: center;
}

.direction-row {
	display: flex;
	flex-direction: row;
}

.direction-column {
	display: flex;
	flex-direction: column;
}

/* ------------------------------------ text styles ------------------------------------ */

.text-theme--blue {
	color: var(--color-accent-2);
}

.text-theme--pink {
	color: var(--color-accent-1);
}

.text-theme--white {
	color: var(--color-foreground);
}

.text-style--bold {
	font-family: 'Inter-Bold';
}

/* ------------------------------------ nav ------------------------------------ */
nav {
	position: fixed;

	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;

	width: 100%;
	height: 90px;
	padding-left: var(--spacing-larger);
	padding-right: var(--spacing-larger);

	background-color: transparent;

	z-index: 2;
}

.logo span {
	font-family: 'Inter-Bold';
	font-size: var(--font-size-desktop-h3);
}

.nav__elements {
	display: flex;
	justify-content: space-between;
	align-items: center;
	
	width: 40%;
}

.nav__element {
	position: relative;
	font-family: 'Inter-SemiBold';
	font-size: var(--font-size-desktop-base);
	cursor: pointer;
}

.nav__elements span::after {
	content: "";
	position: absolute;
	left: 0; 
	bottom: -5px; 
	width: 100%; 
	height: 3px; 
	border-radius: var(--border-radius-max);
	background-color: transparent;
	transition: background-color 0.3s;
}
  
.nav__elements span:hover::after {
	background-color: var(--color-accent-1);
}

/* ------------------------------------ header ------------------------------------ */

header {
	position: relative;
	width: 100vw;
	height: 100vh;

	background-color: var(--color-background);
	overflow: hidden;
}

header img {
	position: absolute;
	width: 100%;
	opacity: 0.3;
}

.header__content {
	flex-direction: column;
	justify-content: space-between;

	width: 100%;

	z-index: 1;
	
}

.headlines-container {
	flex-direction: row;
	justify-content: space-evenly;

	padding: 2rem;

	width: 100%;
	height: 22rem;

	background-color: rgba(0, 0, 0, 0.283);
	-webkit-backdrop-filter: blur(7px);
  	backdrop-filter: blur(7px);
}

.headlines-container__time-place-container {
	display: flex;
	flex-direction: column;
	gap: var(--spacing-medium);

	text-align: start;
}

.keypoints-container {
	position: absolute;
	
	flex-direction: row;
	gap: var(--spacing-large);

	height: 4rem;

	bottom: 20px;
	
}

.keypoints__divider-line {
	width: 5px;
	height: 100%;
	background-color: var(--color-accent-2);
}

/* ------------------------------------ main ------------------------------------ */

main {
	flex-direction: column;
	gap: 8rem;
	margin-top: 10rem;
	margin-bottom: var(--spacing-largest);
}

/* join us */

.join-us-section {
	flex-direction: column;
	gap: var(--spacing-larger);

	width: 80%;
}

.join-us-section h3 {
	text-align: center;
}

/* about */

.about-section {
	flex-direction: column;
	gap: var(--spacing-larger);

	width: 80%;
	padding: var(--spacing-larger);

	border-radius: var(--border-radius);

	background-color: rgba(var(--color-primary-rgb), 0.5);
}

.accordions-container {
	display: flex;
	flex-direction: column;
	gap: var(--spacing-large);
	width: 70%;
}

/* slideshow */

.slideshow-section {
	flex-direction: column;
	gap: 5rem;

	width: 100%;
}

.slideshow-container {
	position: relative;

	display: flex;
	flex-direction: column;
	align-items: center;

	width: 100%;
}

.slideshow__dots {
	position: absolute;
	top: -30px;
	display: flex;
	flex-direction: row;
	gap: var(--spacing-x-small);
}

.slideshow__dot {
	width: 20px;
	height: 20px;
	border-radius: var(--border-radius-max);
	background-color: var(--color-secondary);
}

.slideshow__dot--active {
	background-color: var(--color-accent-1);
}

.slideshow__slides {
	width: 100%;
	height: 500px;
	background-color: rgba(var(--color-primary-rgb), 0.5);

}

.slideshow__slide {
	position: absolute;
	
	width: 100%;
	height: 100%;
	display: none;
}

.slideshow__slide--visible {
	display: block;
}

.slideshow__img {
	width: 100%;
	height: 100%;
	object-fit: contain;
}

.slideshow__controls {
	position: absolute;
	bottom: -40px;

	display: flex;
	flex-direction: row;
	gap: var(--spacing-small);
}

.slideshow__control-button {
	width: 80px;
	height: 80px;
	border-radius: var(--border-radius-max);
	background-color: var(--color-accent-2);
}

.slideshow__control-button:hover {
	background-color: #00b3db;
}

.slideshow__control-button img {
	width: 60%;
	height: 50%;
}

/* speakers */

.speakers-section {
	flex-direction: column;
	width: 80%;
	gap: var(--spacing-larger);
}

.speakers-container {
	width: 100%;
	flex-wrap: wrap;
	gap: var(--spacing-large);
}

.speaker-card {
	justify-content: flex-start;
	flex-direction: column;
	gap: var(--spacing-medium);

	width: 28%;
	height: 22rem;

	padding: var(--spacing-medium);

	border-radius: var(--border-radius);
	background-color: var(--color-primary);
}

.speaker-card__image-container {
	width: 60%;
	height: 160px;
	object-fit: cover;
	
}

.speaker-card__image-container img {
	width: 100%;
	height: 100%;
}

.speaker-card__name {
	font-size: var(--font-size-desktop-base);
	color: var(--color-accent-2);
	font-family: 'Inter-SemiBold';
}

.speaker-card__description {
	text-align: center;
	font-size: 18px;
}

/* register */

.register-section {
	flex-direction: column;
	gap: var(--spacing-larger);

	width: 100%;

	padding: var(--spacing-largest) 0 var(--spacing-largest) 0;

	font-size: var(--font-size-desktop-base);

	background-color: var(--color-primary);
}

.form-container {
	gap: var(--spacing-large);
	width: 60%;
}

.form__name-container {
	display: flex;
	justify-content: space-between;
	width: 100%;
}

.form__name-container .form__label {
	width: 48%;
}

.form__label {
	display: flex;
	flex-direction: column;
	gap: var(--spacing-x-small);
	width: 100%;
}

.form__input-text {
	width: 100%;
	height: 2em;
	padding: var(--spacing-medium) var(--spacing-small);

	border: solid 2px var(--color-accent-2);
	border-radius: var(--border-radius);

	color: var(--color-foreground);
	font-size: var(--font-size-desktop-base);
	background-color: rgba(0, 0, 0, 0.2);
}

.form__input-text:hover {
	border-color: var(--color-accent-1);
}

.form__radio-buttons-container {
	gap: var(--spacing-medium);
}

.choose-pass-container {
	gap: var(--spacing-larger);
	width: 80%;
}

.conference-pass-container {
	justify-content: space-evenly;
	width: 100%;
}

.conference-pass {
	justify-content: flex-start;
	gap: var(--spacing-large);

	padding: var(--spacing-medium);
	border-radius: var(--border-radius);

	width: 28%;
	height: 22rem;

	background-color: var(--color-secondary);
}

.conference-pass__title {
	font-family: 'Inter-SemiBold';
	color: var(--color-accent-2);
}

.conference-pass__prize {
	font-size: var(--font-size-desktop-h2);
	font-family: 'Inter-Bold';
}

.conference-pass__description {
	border-top: solid 2px var(--color-accent-1);
	padding-top: var(--spacing-small);
	font-size: 18px;
}
