@media screen and (max-width: 1100px) {
	h1 {
		font-size: var(--font-size-tablet-h1);
		font-family: 'Inter-Bold';
	}

	h2 {
		font-size: var(--font-size-tablet-h2);
		font-family: 'Inter-Bold';
	}

	h3 {
		font-size: var(--font-size-tablet-h3);
		font-family: 'Inter-Bold';
	}

	h4 {
		font-size: var(--font-size-tablet-h4);
		font-family: 'Inter-SemiBold';
	}
	
	.nav__elements {
		width: 60%;
	}

	.nav__element {
		font-size: var(--font-size-tablet-base);
	}

	.logo span {
		font-size: var(--font-size-tablet-h3);
	}

	.register-button {
		font-size: var(--font-size-tablet-base);
	}

	.accordion__button {
		font-size: var(--font-size-tablet-h4);
	}

	.accordions-container {
		width: 100%;
	}

	.slideshow__slides {
		height: 400px;
	}

	.slideshow__control-button {
		width: 60px;
		height: 60px;
	}

	.speaker-card {
		gap: var(--spacing-small);
		width: 270px;
		height: 20rem;
	}

	.speaker-card__image-container {
		height: 140px;
	}

	.speaker-card__name {
		font-size: var(--font-size-tablet-base);
	}
	
	.speaker-card__description {
		font-size: 16px;
	}

	.form-container {
		width: 70%;
	}

	.form__label {
		font-size: var(--font-size-tablet-base);
	}

	.form__input-text {
		height: 1.5em;
	}

	.conference-pass__title {
		font-size: var(--font-size-tablet-base);
	}

	.conference-pass__price {
		font-size: var(--font-size-tablet-h2);
	}
	
	.conference-pass__description {
		font-size: 16px;
	}

	.conference-pass {
		gap: var(--spacing-medium);
		width: 270px;
		height: 20rem;
	}
}

@media screen and (max-width: 933px) {
	.nav__elements {
		display: none;
	}

	.hamburger-menu {
		display: block;
	}

	.hamburger-menu img {
		width: 4rem;
		height: 2.5rem;
	}

	.headlines-container {
		flex-direction: column;
		align-items: start;
		justify-content: space-evenly;
		height: 25rem;
	}

	.keypoints-container {
		text-align: center;
	}
}