* {
	box-sizing: border-box;
	font-family: 'Inter-Regular';
	padding: 0;
	margin: 0;
}

a {
	color: inherit;
	text-decoration: none;
}

img {
	width: 100%;
}

button {
	font: inherit;
	background: transparent;
	border: none;
	cursor: pointer;
}

h1 {
	font-size: var(--font-size-desktop-h1);
}

h2 {
	font-size: var(--font-size-desktop-h2);
}

h3 {
	font-size: var(--font-size-desktop-h3);
}

h4 {
	font-size: var(--font-size-desktop-h4);
}